---
layout: archive
---

{{ content }}

<meta itemprop="description" content="About me">

<div class="page__inner-wrap">
  <header></header>
  <section class="page__content">
    <!-- <p><strong>Welcome to my webpage</strong></p> -->
    <p>I'm a Ph.D candidate at Texas A&M University in the Department of Computer Science and Engineering. My Ph.D advisor is <a href="https://stmilab.github.io/">Dr. Bobak Mortazavi</a>. My research interest lies in machine learning, deep learning, and their applications in time-series data. More specifically, my thesis focuses on meta-learning, transfer learning, and using them to build flexible models for heterogeneous time series biomedical data. Before Texas A&M University, I worked with <a href="https://dynresmanagement.com/index.html">Dr. Diego Klabjan</a> at Northwestern University. </p>

    <!-- <p style="color:red">I'm currently on job market looking for an industrial position.</p> <p>My expected graduation date is May 2023.</p> -->

    <style>
    .redText
    {
        color:red;
    }
    .blackText
    {
        color:#52595D;
        /* font-weight:bold; */
    }
    </style>

    <span class="redText">I'm currently on job market looking for a industrial position.</span>&nbsp;<span class="blackText">My expected graduation date is May 2023.</span>
    </section>
</div>
